<div class="room_container">
  <h2>予約ルーム一覧</h2>
  <table class="room_table">
    <thead>
      <tr>
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>

        <th>作成日</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td>
            <% if reservation.room.image.attached? %>
              <%= image_tag reservation.room.image, size:'240x150' %>
            <% else %>
              <%= image_tag '/default_room.jpeg', size:'240x150' %>
            <% end %>
          </td>
          <td><%= link_to reservation.room.room_name, room_path(reservation) %></td>
          <td><%= reservation.room.introduction %></td>

          <td><%= reservation.room.created_at %></td>
          <td><%= link_to "削除", reservations_path, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
