<div class="room-container">
  <h2>登録済みルーム一覧</h2>
  <table class="room-index">
    <thead>
      <tr>
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>料金</th>
        <th>作成日</th>
      </tr>
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td>
            <% if room.img_name? %>
              <%= image_tag room.img_name.url, size:"240x150" %>
            <% else %>
              <%= image_tag 'default_room01.jpeg', size:"240x150" %>
            <% end %>
          </td>
          <td><%= link_to "#{room.name}", room %></td>
          <td><%= room.introduction %></td>
          <td><%= room.price %></td>
          <td><%= room.created_at.to_s(:datetime_jp) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
